
.btnsFilterFreePaid{
    display: flex
}
.btnFilterFreePaid{
    height: 2rem;
    background-color: rgb(233, 73, 73);
    margin: .5rem;
}
.search{
    height: 2rem;
    width: 97%;
}

.sportBTN{
    height: 2rem;
    margin:.5rem;
    background-color: rgb(132, 135, 133);
}

.reserveBTN{
    width: 100%;
}